/* @import "rsuite/dist/rsuite.css"; */


.table {    
    width: 100%!important;
    /* min-width: 920px; */
    /* max-width: 1070px; */
    height: 100%;
    margin: 0px;
    /* padding: 10px;  */
    overflow-y: auto;
}

.table .rs-table-body-row-wrapper{
    height: 90%;
} 


/* COMPONENT QUERIES */
/* Extra large devices (large desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and down) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (tablets, 768px and down) */
@media only screen and (max-width: 728px) {
}

/* Small devices (landscape phones, 576px and down) */
@media only screen and (max-width: 576px) {

}