.confirmModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cmBody{
    display: flex;
    justify-content: center;
}
.cmBody h6{
    font-size: medium;
}
.cmFooter{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.cmBtnCancel,
.cmBtnConfirm{
    width: 100px;
    font-size: large;
    background-color: transparent;
    color: var(--white)!important;
}
.cmBtnCancel{
    background-color: var(--danger)!important;
}
.cmBtnConfirm{
    background-color: var(--success)!important;
}