.clientContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    padding: 0px ;
    /* background-color: transparent;
    background-color: cornflowerblue; */
}
.clientHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}  
.clientHeader h1{
    margin: 0 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--white);
}
.clientHeader > button{
    margin: 5px 0;
}
.clientBody{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 10px;
}

/* CLIENTPANEL */
.clientPanel{
    color: inherit;
}
.clientSearch{
    padding: 15px;
    border-radius: 5px;
    background-color: var(--form-gray);
    margin-bottom: 20px;
}



/* COMPONENT QUERIES */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .clientContent {
        background-color: rgb(230, 217, 173);
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .clientContent {
        background-color: rgb(173, 230, 181);
    }
    .clientHeader .rs-drawer{/** CORRIGIR ERRO DE LARGURA PROVOCADO PELA TABLE */
        width: 100%!important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) {
    .clientContent {
        background-color: rgb(207, 173, 230);
    }
    .drawerClient{/** CORRIGIR ERRO DE LARGURA PROVOCADO PELA TABLE */
        width: 100%!important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
    .clientContent {
        background-color: lightblue;
    }
}