.sidebaModile{
    display: none;
    justify-content: center;
    align-items: center;
}

.sideMobileMenu {
    display: flex;
    flex-direction: column;
}
.sideMobileMenu a {
    padding: 12px 0;
    /* width: 100%; */
    border-bottom: 1px solid #e1e1e1; 
    color: inherit;
} 

.sideMobileMenu a:last-child{
    border-bottom: none;    
}
.itemsMainMenu{
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 30px;
    /* background-color: var(--pc-glass);
    color: var(--white); */
 }



/* CONPONENT QUERIES */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .sidebaModile{
        display: flex!important;
        width: 100%!important;
    }
    .sideMobileDrawer{
        width: 100%!important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) {
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
}