.schedulingContent{
  background-color: transparent;
  /* background-color: #bb9898; */
  /* padding: 0 7px!important; */
  height: 100%;
  padding: 5px;
}

.schedulingHeader{
  display: flex;
  justify-content: center;
  padding: 5px;
}

.schedulingHeader h1{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--white);
}

.schedulingCalendar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  /* overflow: auto; */
}

/* .column{
  background-color: whitesmoke;
  margin: 5px;
} */

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .content {
    background-color: rgb(173, 230, 181);
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .content {
    background-color: rgb(230, 217, 173);
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) {
  .content {
    background-color: lightblue;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  .content {
    background-color: rgb(207, 173, 230);
  }
}
