.schedulingContent{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.schedulingHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.schedulingTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}
.schedulingTitle h1{
  font-size: 1.5rem;
}

.schedulingBody{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 10px;
}


/* COMPONENT QUERIES */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) { }

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) { }

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) { }

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) { }
