.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  background-color: var(--dark);
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(2, 8, 32, 0.3) ), 
              url("../../../assets/img/bg-health-min.jpg");
  /* background-repeat: round;
  background-attachment: fixed; */
  background-size: cover;
  color: inherit;
}

.sideMenu{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 10px;
}

.sidebar img {
  height: 140px !important;
}
.titleMainMenu{
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
  padding: 20px 10px 10px 10px;
  align-items: center;
  background-color: var(--pc-glass);
  color: var(--white);
}
.itemsMainMenu{
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 30px;
  background-color: var(--pc-glass);
  color: var(--white);
}



/* CONPONENT QUERIES */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .sidebar {
    color: inherit;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .sidebar {
    display: none!important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) {
  .sidebar {
    display: none!important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  .sidebar {
    display: none!important;
  }
}