.myDrawerPanel{
    color: inherit;
}
.buttonOpen{
    display: inline-block;
    padding: 11px 12.9px;
    font-size: 1rem;
}
.buttonSubmit{
    width: inherit;
    /* margin: 20px 0; */
}



/* CONPONENT QUERIES */
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 728px) {
    .myDrawerBody{
        padding: 15px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {    
}